.main {
  width: 100%;
  display: flex;
  
  &__content {
    margin: auto;
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(3, 275px);
    gap: 10px;
  }
}
