.product_info {
  display: flex;
  width: 75%;
  margin: 20px auto 0;
  height: 700px;
  border: 1px black solid;
  border-radius: 2rem;

  &__text {
    display: flex;
    padding: 20px;
    width: 40%;
    background-color: rgb(210, 210, 210);
    flex-direction: column;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    &__rating {
      display: flex;
      width: 40%;
      margin-right: auto;
      justify-content: space-between;
    }
  }

  &__image {
    width: 60%;
    object-fit: scale-down;
  }
}

.btn {
  &__back {
    margin-top: 20px;
    margin-left: 10%;
  }
}
